<!DOCTYPE html>
<html>
   <head>
      <title>Seven Helms - Legend of the Hammer</title>
      <link rel="stylesheet" type="text/css" href="/<%= filenames["application.css"] %>"></link>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/<%= filenames["application.js"] %>"></script>
   </head>
   <body></body>
</html>